<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" media="screen" href ="{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css') }}">

    <script type="text/javascript" src="{{url_for('static', filename='jquery/dist/jquery.min.js')}}">
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='popper.js/dist/umd/popper.min.js')}}">
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='bootstrap/dist/js/bootstrap.min.js')}}">
    </script>

    <style type="text/css">
        #jumbo {
            padding: 50px;
        }

        mark {
            background-color: red;
            color: black;
        }
    </style>
</head>

<form action="/parse" method="POST" id="f1">
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-8" style="padding-top: 30px; padding-bottom: 20px">
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="i1">Input: </span>
            <input type="text" class="form-control" aria-describedby="basic-addon1" name="q" value="{{ q }}">
        </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>

<hr />

{% block body %}{% endblock %}
</form>